.d{
    background:red;
    color:yellow;
    font-size:20px;
    .a{
        background:blue;
        background:red;
        color:yellow;
        font-size:20px;
        .d{
            color: #000;
        }
        .dd,.dwad,.adawd,.dawd,.dawd,#dawd,.dwadaw,.dawd{
            color: #000;
        }
    }

}

